.dropdown {
  border: black solid 1px;
  background-color: white;
}

.error-msg-container {
  position: absolute;
  top: 60px;
  left: 0;

  display: flex;
  color: #ba1a1a;
  gap: 0.25rem;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 25%;
  gap: 2.5rem;
}

.cancel-button {
  color: blue;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: underline;
}

.cancel-button:hover {
  color: darkblue;
}

.submit-button {
  border-radius: 0.5rem;
}

.submit-button:hover {
  background-color: lightgray;
  color: black;
  border-color: black;
}

.submit-button:disabled {
  border-color: lightgray;
  color: lightgray;
}
