<div class="w-75 mx-auto mt-5">
  <h1 data-testid="title">Member {{pageTitleKey() | translate}}</h1>

  <p class="fw-bold">
    {{ "MEMBER.FORM.PERSONAL_DETAILS" | translate }}
  </p>

  <form [formGroup]="memberForm" (ngSubmit)="onSubmit()" name="member">


        <app-input-field>
          <input type="text" formControlName="name" matInput>
        </app-input-field>

        <app-input-field>
          <input type="text" formControlName="lastName" matInput>
        </app-input-field>

        <app-input-field>
          <input type="text" formControlName="abbreviation" matInput>
        </app-input-field>

    <mat-form-field>
      <mat-label appPctsFormLabel/>
      <input matInput [matDatepicker]="birthDatePicker" formControlName="birthDate">
      <mat-datepicker-toggle matIconSuffix [for]="birthDatePicker"/>
      <mat-datepicker #birthDatePicker />
      <mat-error appPctsFormError/>
    </mat-form-field>


    <mat-form-field>
      <mat-label appPctsFormLabel/>
      <input matInput [matDatepicker]="dateOfHirePicker" formControlName="dateOfHire">
      <mat-datepicker-toggle matIconSuffix [for]="dateOfHirePicker"/>
      <mat-datepicker #dateOfHirePicker />
      <mat-error appPctsFormError/>
    </mat-form-field>


    <mat-form-field>
          <mat-label appPctsFormLabel/>
      <input type="text" formControlName="employmentState" matInput [matAutocomplete]="employmentStateAutoComplete">
      <mat-autocomplete autoActiveFirstOption #employmentStateAutoComplete="matAutocomplete" [displayWith]="displayEmploymentState">
        @for (employmentState of employmentStateFilteredOptions(); track employmentState) {
          <mat-option [value]="employmentState">{{ displayEmploymentState(employmentState) }}</mat-option>
            }
          </mat-autocomplete>
          <mat-error appPctsFormError/>
        </mat-form-field>


        <mat-form-field>
          <mat-label appPctsFormLabel/>
          <input type="text" formControlName="organisationUnit" matInput
                 [matAutocomplete]="organisationUnitAutoComplete" >
          <mat-autocomplete autoActiveFirstOption #organisationUnitAutoComplete="matAutocomplete" [displayWith]="displayOrganisationUnit">
            @for (organisationUnit of organisationUnitFilteredOptions(); track organisationUnit) {
              <mat-option [value]="organisationUnit">{{ displayOrganisationUnit(organisationUnit) }}</mat-option>
            }
          </mat-autocomplete>
          <mat-error appPctsFormError/>
        </mat-form-field>

    <div class="d-flex flex-row gap-3">
      <button mat-stroked-button type="button" [routerLink]="['/']">{{ "GENERAL.CANCEL" | translate }}</button>
      <button mat-flat-button color="primary" type="submit" data-testid="submit-button" [disabled]="!memberForm.valid"> {{submitButtonKey() | translate}} </button>
    </div>
  </form>
</div>

