<pzsh-container>
  <pzsh-topbar class="position-sticky top-0 z-1">
    <button class="btn btn-link" (click)="visitRoot()">
      <!--Inline style here due to ngSrc not working without it -->
      <img
        priority
        ngSrc="/images/pcts-logo.svg"
        alt="{{'PCTS_LOGO_ALT' | translate}}"
        height="32" width="140"/>
    </button>

  </pzsh-topbar>
  <pzsh-menu class="position-fixed z-1">
    <div slot="actions">
      <pzsh-menu-dropdown href="#">
        <div slot="toggle">
          <pzsh-icon name="user"></pzsh-icon>
          Susi Sommer
        </div>
        <div slot="items">
          <pzsh-menu-dropdown-item href="#">
            <pzsh-icon name="sign-out-alt"></pzsh-icon>
            {{ "LOGOUT" | translate }}
          </pzsh-menu-dropdown-item>
        </div>
      </pzsh-menu-dropdown>
    </div>
  </pzsh-menu>
  <main class="w-75 mx-auto">
    <router-outlet></router-outlet>
  </main>
</pzsh-container>
