<pzsh-container>
  <pzsh-topbar class="position-sticky top-0">
    <img
      src="/images/pcts-logo.svg"
      alt="{{'PCTS_LOGO_ALT' | translate}}"
      class="pcts-logo"
    />
  </pzsh-topbar>
  <pzsh-menu class="position-fixed">
    <div slot="actions">
      <pzsh-menu-dropdown href="#">
        <div slot="toggle">
          <pzsh-icon name="user"></pzsh-icon>
          Susi Sommer
        </div>
        <div slot="items">
          <pzsh-menu-dropdown-item href="#">
            <pzsh-icon name="sign-out-alt"></pzsh-icon>
            {{ "LOGOUT" | translate }}
          </pzsh-menu-dropdown-item>
        </div>
      </pzsh-menu-dropdown>
    </div>
  </pzsh-menu>
  <main>
    <router-outlet></router-outlet>
  </main>
</pzsh-container>
