<app-base-modal [formGroup]="formGroup" (canceled)="onCancel()">
  <app-base-form content [formGroup]="formGroup">
    <ng-container title/>
    <ng-container content>

      <app-input-field>
        <input type="text" formControlName="leadershipExperienceType" matInput
               [matAutocomplete]="leadershipExperienceTypeAutoComplete"
               data-testid="leadershipExperienceType">
        <mat-autocomplete autoActiveFirstOption #leadershipExperienceTypeAutoComplete="matAutocomplete"
                          [displayWith]="displayLeadershipExperienceTypes"
        >
          @for (entry of leadershipExperienceTypeFilteredOptions(); track entry[0]) {
            @let kind = entry[0];
            @let experienceTypes = entry[1];

            <mat-optgroup class="fw-bold" label="{{ `LEADERSHIP_EXPERIENCE.TYPES.${kind}` | translate  }}">
              @for (experienceType of experienceTypes; track experienceType.id) {
                <mat-option
                  [value]="experienceType">{{ displayLeadershipExperienceTypes(experienceType) }}
                </mat-option>
              }
            </mat-optgroup>
          }
        </mat-autocomplete>
      </app-input-field>

      <app-input-field>
        <textarea type="text" formControlName="comment" data-testid="comment" matInput></textarea>
      </app-input-field>

    </ng-container>
    <ng-container actions/>
  </app-base-form>

  <ng-container actions>
    <app-modal-actions
      [isValid]="formGroup.valid"
      (cancel)="onCancel()"
      (submitAction)="onSubmit($event)">
    </app-modal-actions>
  </ng-container>
</app-base-modal>
