<app-base-modal [formGroup]="formGroup" (canceled)="onCancel()">
  <app-base-form content [formGroup]="formGroup">
    <ng-container title/>
    <ng-container content>

      <app-input-field>
          <input type="text" formControlName="certificateType" matInput [matAutocomplete]="certificateTypeAutoComplete"
                 data-testid="certificateType">
          <mat-autocomplete autoActiveFirstOption #certificateTypeAutoComplete="matAutocomplete"
                            [displayWith]="displayCertificateTypes">
            @for (certificateType of certificateTypeFilteredOptions(); track certificateType) {
              <mat-option [value]="certificateType">{{ displayCertificateTypes(certificateType) }}</mat-option>
            }
          </mat-autocomplete>
      </app-input-field>

      <mat-form-field>
        <mat-label appPctsFormLabel/>
        <input matInput [matDatepicker]="completedAtPicker" formControlName="completedAt" data-testid="completedAt">
        <mat-datepicker-toggle matIconSuffix [for]="completedAtPicker"/>
        <mat-datepicker #completedAtPicker/>
        <mat-error appPctsFormError/>
      </mat-form-field>

      <mat-form-field>
        <mat-label appPctsFormLabel/>
        <input matInput [matDatepicker]="validUntilPicker" formControlName="validUntil" data-testid="validUntil">
        <mat-datepicker-toggle matIconSuffix [for]="validUntilPicker"/>
        <mat-datepicker #validUntilPicker/>
        <mat-error appPctsFormError/>
      </mat-form-field>

      <app-input-field>
        <textarea type="text" formControlName="comment" data-testid="comment" matInput></textarea>
      </app-input-field>

    </ng-container>
    <ng-container actions/>
  </app-base-form>

  <ng-container actions>
    <app-modal-actions
      [isValid]="formGroup.valid"
      (cancelAction)="onCancel()"
      (submitAction)="onSubmit($event)" />
  </ng-container>
</app-base-modal>
