@use '@angular/material' as mat;
@use 'variables';

.small-form-field {
  @include mat.form-field-density(-4);
}

$my-primary: mat.m2-define-palette(variables.$pz-dark-blue-palette, 500);
$my-accent: mat.m2-define-palette(mat.$m2-grey-palette, 900);
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

$pz-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);

@include mat.all-component-themes($pz-theme);

.mdc-snackbar__surface {
  background: transparent !important;
  box-shadow: none !important;
}

@include mat.button-overrides((
  text-label-text-color: rgb(30, 90, 150),
  text-state-layer-color: rgb(250, 250, 250),
  text-ripple-color: rgb(222, 226, 230),
  text-hover-state-layer-opacity: 1,
  text-pressed-state-layer-opacity: 1,

  outlined-outline-color: rgb(204, 204, 204),
  outlined-label-text-color: rgb(30, 90, 150),
  outlined-hover-state-layer-opacity: 0.02,
  outlined-pressed-state-layer-opacity: 0.04,

  filled-container-color: rgb(30, 90, 150),
  filled-label-text-color: rgb(255, 255, 255),
  filled-state-layer-color: rgb(255, 255, 255),
  filled-hover-state-layer-opacity: 0.1,
  filled-pressed-state-layer-opacity: 0.2
));
