@use '@angular/material' as mat;
@use 'variables';
@use 'sass:map';

.small-form-field {
  @include mat.form-field-density(-4);
}

$my-primary: mat.m2-define-palette(variables.$pz-dark-blue-palette, 500);
$my-accent: mat.m2-define-palette(mat.$m2-grey-palette, 900);
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

$pz-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);

@include mat.all-component-themes($pz-theme);

.mdc-snackbar__surface {
  background: transparent !important;
  box-shadow: none !important;
}

@include mat.button-overrides(
  (
    text-label-text-color: variables.$pz-dark-blue,
    text-state-layer-color: rgb(250, 250, 250),
    text-ripple-color: rgb(222, 226, 230),
    text-hover-state-layer-opacity: 1,
    text-pressed-state-layer-opacity: 1,

    outlined-outline-color: rgb(204, 204, 204),
    outlined-label-text-color: variables.$pz-dark-blue,
    outlined-hover-state-layer-opacity: 0.02,
    outlined-pressed-state-layer-opacity: 0.04,

    filled-container-color: variables.$pz-dark-blue,
    filled-label-text-color: map.get(
        map.get(variables.$pz-dark-blue-palette, contrast),
        900
      ),
    filled-state-layer-color: map.get(
        map.get(variables.$pz-dark-blue-palette, contrast),
        900
      ),
    filled-hover-state-layer-opacity: 0.1,
    filled-pressed-state-layer-opacity: 0.2,
  )
);

.folder-tabs {
  .mat-mdc-tab-header {
    &::before {
      border-bottom: #000 solid 1px;
      width: 30px;
      content: ' ';
    }

    &::after {
      position: absolute;
      bottom: 0;
      border-bottom: #000 solid 1px;
      width: 100%;
      content: '';
    }
  }

  .mdc-tab-indicator {
    display: none;
  }

  .mdc-tab {
    background-color: #000;
    padding: 1px 1px 0 1px;
    min-width: auto;
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 98%, 0 98%);

    .mdc-tab__content {
      background-color: lightgray;

      clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 100%, 0 100%);

      padding: 0 20px 0 10px;
    }
  }

  .mdc-tab.mdc-tab--active {
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 100%, 0 100%);

    padding: 1px 1px 1px 1px;

    background-color: #000;

    .mdc-tab__content {
      background-color: #fff;
    }
  }
}
