@use '@angular/material' as mat;
@use 'variables';

.small-form-field {
  @include mat.form-field-density(-4);
}

$my-primary: mat.m2-define-palette(variables.$pz-dark-blue-palette, 500);
$my-accent: mat.m2-define-palette(mat.$m2-grey-palette, 900);
$my-warn: mat.m2-define-palette(mat.$m2-red-palette);

$pz-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
      warn: $my-warn,
    ),
  )
);

@include mat.all-component-themes($pz-theme);

.mdc-snackbar__surface {
  background: transparent !important;
  box-shadow: none !important;
}

.folder-tabs {
  .mat-mdc-tab-header {
    &::before {
      border-bottom: #000 solid 1px;
      width: 30px;
      content: ' ';
    }

    &::after {
      position: absolute;
      bottom: 0;
      border-bottom: #000 solid 1px;
      width: 100%;
      content: '';
    }
  }

  .mdc-tab-indicator {
    display: none;
  }

  .mdc-tab {
    background-color: #000;
    padding: 1px 1px 0 1px;
    min-width: auto;
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 98%, 0 98%);

    .mdc-tab__content {
      background-color: lightgray;

      clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 100%, 0 100%);

      padding: 0 20px 0 10px;
    }
  }

  .mdc-tab.mdc-tab--active {
    clip-path: polygon(0 0, calc(100% - 15px) 0, 100% 100%, 0 100%);

    padding: 1px 1px 1px 1px;

    background-color: #000;

    .mdc-tab__content {
      background-color: #fff;
    }
  }
}
