@use 'variables';

.member-table {
  width: 100%;

  th {
    background-color: variables.$table-header-color;
    border-bottom: 2px solid variables.$table-header-color;
  }

  td {
    vertical-align: middle;
    border-bottom: 1px solid variables.$table-secondary-color;
  }
}

button.active {
  background-color: variables.$table-primary-color;
}

.table-max-height {
  // Max height to define when it gets scrollable
  max-height: 70vh;
}

.col-range {
  width: 1%;
}
