<div class="w-75 mx-auto mt-5" data-testid="member-overview">
  <h1 class="pt-3" data-testid="member-title">
    {{ "MODEL_NAME_PLURAL" | scopedTranslation }} ({{ filteredCount() }})
  </h1>

  <div class="d-flex flex-row justify-content-between">
    <div class="w-25 d-flex flex-row align-items-start">
      <mat-form-field
        color="primary"
        appearance="outline"
        class="w-75 small-form-field"
        data-testid="search-field"
      >
        <mat-icon matPrefix>search</mat-icon>
        <input
          matInput
          [formControl]="searchControl"
          [placeholder]="'FILTER.SEARCH' | scopedTranslation"
          data-testid="search-input"
        />
      </mat-form-field>
    </div>

    <div data-testid="filters">
      <button
        type="button"
        mat-stroked-button
        class="rounded-0"
        [class.active]="isAllFilterActive()"
        (click)="activeFilters.clear(); applyCombinedFilter();"
        data-testid="all"
      >
        {{ 'FILTER.ALL' | scopedTranslation }}
      </button>

      @for (state of employmentStateValues; track state) {
        <button
          type="button"
          mat-stroked-button
          class="rounded-0"
          [class.active]="isFilterActive(state)"
          (click)="toggleFilter(state)"
          [attr.data-testid]="state"
        >
          {{ 'EMPLOYMENT_STATUS_VALUES.' + state | scopedTranslation }}
        </button>
      }
    </div>

    <button
      type="button"
      mat-stroked-button
      data-testid="add-member-button"
      (click)="handleAddMemberClick()"
    >
      <mat-icon>add</mat-icon>
        {{ 'MODEL_NAME' | scopedTranslation }}
        {{ 'FORM.ADD.ACTION' | scopedTranslation }}
    </button>
  </div>

  <div class="overflow-y-scroll mat-elevation-z8 table-max-height">
      <app-generic-table [dataSource]="this.dataSource" idAttr="id"></app-generic-table>
  </div>
</div>
