<div class="w-75 mx-auto mt-5">
  <h1 class="pt-3">Members ({{ this.members().length }})</h1>
  <div class="d-flex flex-row justify-content-between">
    <mat-form-field appearance="outline" class="w-25 small-form-field">
      <mat-icon matPrefix>search</mat-icon>
      <input
        matInput
        [value]="searchText"
        (keyup)="applyFilter($event)"
        placeholder="Suchen"
        #input>
    </mat-form-field>

    <div>
      <button
        type="button"
        mat-stroked-button
        class="rounded-0"
        [class.active]="allFilter"
        (click)="toggleFilter('all')">
        Alle
      </button>

      <button
        type="button"
        mat-stroked-button
        class="rounded-0"
        [class.active]="memberFilter"
        (click)="toggleFilter('member')">
        Member
      </button>

      <button
        type="button"
        mat-stroked-button
        class="rounded-0"
        [class.active]="applicantFilter"
        (click)="toggleFilter('applicant')">
        Bewerber
      </button>
    </div>

    <button mat-stroked-button>
      <mat-icon>add</mat-icon>
      Member hinzufügen
    </button>
  </div>

  <table mat-table [dataSource]="this.dataSource" class="mat-elevation-z8 table table-striped table-hover member-table"
         matSort matSortActive="name" matSortDirection="desc">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="name"> Name</th>
      <td mat-cell *matCellDef="let member">
        <a href="member/{{member.id}}" class="fw-bold">{{ member.name }} {{ member.lastName }}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="birthday"> Geburtsdatum</th>
      <td mat-cell *matCellDef="let member">{{ member.birthday | date:'dd.MM.yyyy' }}</td>
    </ng-container>

    <ng-container matColumnDef="organisation_unit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="organisation_unit"> Division</th>
      <td mat-cell *matCellDef="let member"> {{ member.organisationUnit.name }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header="employment_state"> Status</th>
      <td mat-cell *matCellDef="let member"> {{ member.employmentState }}</td>
    </ng-container>

    <tr class="h-25" mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr *matNoDataRow>
      <td colspan="4">No data matching the filter "{{ input.value }}"</td>
    </tr>
  </table>

</div>
