.member-table {
  width: 100%;
  border: 1px solid lightgray;

  th {
    background-color: lightgray;
    border-bottom: 2px solid lightgray;
  }

  td {
    vertical-align: middle;
    border-bottom: 1px solid whitesmoke;
  }
}
button.active {
  background-color: lightgray;
}
