<div class="p-3">
  <table class="table m-0">
    <tr>
      <th>{{"EFFORT" | scopedTranslation}}:</th>
      <td>{{certificate()?.effort}}</td>
    </tr>
    <tr>
      <th>{{"EXAM_TYPE.TYPE" | scopedTranslation}}:</th>
      <td>{{"EXAM_TYPE." + certificate()?.examType | scopedTranslation}}</td>
    </tr>
    <tr>
      <th>{{"EXAM_DURATION" | scopedTranslation}}:</th>
      <td>{{certificate()?.examDuration || "-"}}</td>
    </tr>
    <tr>
      <th>{{"COMMENT" | scopedTranslation}}:</th>
      <td>{{certificate()?.comment || "-"}}</td>
    </tr>
    <tr>
      <th>{{"LINK" | scopedTranslation}}:</th>
      <td>
        @if (certificate()?.link) {
          <a [href]="certificate()?.link">{{certificate()?.link}}</a>
        } @else {
          -
        }
      </td>
    </tr>
  </table>
</div>

