<app-base-modal [formGroup]="formGroup" (canceled)="onCancel()">
  <app-base-form content [formGroup]="formGroup">
    <ng-container title/>
    <ng-container content>

      <mat-form-field>
        <mat-label appPctsFormLabel/>
        <input type="text" formControlName="certificateType" matInput [matAutocomplete]="certificateTypeAutoComplete"
               data-testid="certificateType">
        <mat-autocomplete autoActiveFirstOption #certificateTypeAutoComplete="matAutocomplete"
                          [displayWith]="displayCertificateTypes">
          @for (certificateType of certificateTypeFilteredOptions(); track certificateType) {
            <mat-option [value]="certificateType">{{ displayCertificateTypes(certificateType) }}</mat-option>
          }
        </mat-autocomplete>
        <mat-error appPctsFormError/>

      </mat-form-field>

      <mat-form-field>
        <mat-label appPctsFormLabel/>
        <input matInput [matDatepicker]="completedAtPicker" formControlName="completedAt" data-testid="completedAt">
        <mat-datepicker-toggle matIconSuffix [for]="completedAtPicker"/>
        <mat-datepicker #completedAtPicker/>
        <mat-error appPctsFormError/>
      </mat-form-field>

      <mat-form-field>
        <mat-label appPctsFormLabel/>
        <input matInput [matDatepicker]="validUntilPicker" formControlName="validUntil" data-testid="validUntil">
        <mat-datepicker-toggle matIconSuffix [for]="validUntilPicker"/>
        <mat-datepicker #validUntilPicker/>
        <mat-error appPctsFormError/>
      </mat-form-field>

      <app-input-field>
        <input type="text" formControlName="comment" matInput data-testid="comment">
      </app-input-field>
    </ng-container>
    <ng-container actions/>
  </app-base-form>

  <ng-container actions>
    <div class="d-flex flex-row gap-3">

      <button matButton="text" type="button" (click)="onCancel()">
        {{ "BUTTONS.CANCEL" | scopedTranslation  }}
      </button>

      <div class="d-flex">
        <button (click)="onSubmit(ModalSubmitMode.ENTER_ANOTHER)" class="rounded-end-0" matButton="filled" type="submit" data-testid="submit-button">
          {{ "BUTTONS.ACTION" | scopedTranslation }}
        </button>
        <button matButton="filled" class="ms-0 rounded-start-0 p-0 px-1" [matMenuTriggerFor]="submitMenu">
          <span class="d-flex justify-content-center">
            <mat-icon>arrow_drop_down</mat-icon>
          </span>
        </button>
      </div>
    </div>
  </ng-container>
</app-base-modal>

<mat-menu #submitMenu="matMenu">
  <button (click)="onSubmit(ModalSubmitMode.ENTER_ANOTHER)" class="d-flex" mat-menu-item>{{ "BUTTONS.ACTION" | scopedTranslation }} {{ "BUTTONS.ENTER_ANOTHER" | scopedTranslation}}</button>
  <button (click)="onSubmit(ModalSubmitMode.COPY)" mat-menu-item>{{ "BUTTONS.ACTION" | scopedTranslation }} {{ "BUTTONS.COPY" | scopedTranslation}}</button>
</mat-menu>

