.toast-stack {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast-component {
  background: darkred;
  color: white;
  padding: 12px 16px;
  border-radius: 6px;
  animation: fadeIn 150ms ease-out;
}

.success {
  .toast-component {
    background-color: green;
  }
}

.error {
  .toast-component {
    background-color: darkred;
  }
}
