<app-base-modal [formGroup]="formGroup" (canceled)="onCancel()">
  <app-base-form content [formGroup]="formGroup">
    <ng-container title/>
    <ng-container content>

      <app-input-field>
        <input type="text" formControlName="type" matInput [matAutocomplete]="degreeTypeAutoComplete"
               data-testid="degreeType">
        <mat-autocomplete autoActiveFirstOption #degreeTypeAutoComplete="matAutocomplete"
                          [displayWith]="displayDegreeTypes">
          @for (degreeType of degreeTypeFilteredOptions(); track degreeType) {
            <mat-option [value]="degreeType">{{ displayDegreeTypes(degreeType) }}</mat-option>
          }
        </mat-autocomplete>
      </app-input-field>

      <app-input-field>
        <input type="text" formControlName="name" data-testid="name" matInput>
      </app-input-field>

      <app-input-field>
        <input type="text" formControlName="institution" data-testid="institution" matInput>
      </app-input-field>


      <mat-form-field>
        <mat-label appPctsFormLabel/>
        <input matInput [matDatepicker]="completedAtPicker" formControlName="startDate" data-testid="startDate">
        <mat-datepicker-toggle matIconSuffix [for]="completedAtPicker"/>
        <mat-datepicker #completedAtPicker/>
        <mat-error appPctsFormError/>
      </mat-form-field>

      <mat-form-field>
        <mat-label appPctsFormLabel/>
        <input matInput [matDatepicker]="validUntilPicker" formControlName="endDate" data-testid="endDate">
        <mat-datepicker-toggle matIconSuffix [for]="validUntilPicker"/>
        <mat-datepicker #validUntilPicker/>
        <mat-error appPctsFormError/>
      </mat-form-field>

      <app-input-field>
        <textarea type="text" formControlName="comment" data-testid="comment" matInput></textarea>
      </app-input-field>

        <mat-checkbox formControlName="completed">{{"COMPLETED" | scopedTranslation}}</mat-checkbox>

    </ng-container>
    <ng-container actions/>
  </app-base-form>

  <ng-container actions>
    <app-modal-actions
      [isValid]="formGroup.valid"
      (cancel)="onCancel()"
      (submitAction)="onSubmit($event)">
    </app-modal-actions>
  </ng-container>
</app-base-modal>
