<app-base-modal [title]="'ORGANISATION UNIT ERSTELLEN'">
  <app-form [formGroup]="organisationUnitForm" (submitted)="onSubmit()" content>
    <ng-container content>
      <app-input-field>
        <input type="text" formControlName="name" matInput data-testid="abbreviation">
      </app-input-field>
      <app-input-field>
        <input type="text" formControlName="name" matInput data-testid="abbreviation">
      </app-input-field>
      <app-input-field>
        <input type="text" formControlName="name" matInput data-testid="abbreviation">
      </app-input-field>
<!--      <app-input-field>-->
<!--        <input type="text" formControlName="name" matInput data-testid="abbreviation">-->
<!--      </app-input-field>-->
<!--      <app-input-field>-->
<!--        <input type="text" formControlName="name" matInput data-testid="abbreviation">-->
<!--      </app-input-field>-->
<!--      <mat-form-field>-->
<!--        <mat-label appPctsFormLabel/>-->
<!--        <input matInput [matDatepicker]="birthDatePicker" formControlName="name" data-testid="birthDate">-->
<!--        <mat-datepicker-toggle matIconSuffix [for]="birthDatePicker"/>-->
<!--        <mat-datepicker #birthDatePicker/>-->
<!--        <mat-error appPctsFormError/>-->
<!--      </mat-form-field>-->
    </ng-container>
  </app-form>
  <app-form-actions [formGroup]="organisationUnitForm" (canceled)="onCancel()" actions/>
</app-base-modal>
