@if (member(); as m) {
  <div class="p-4" data-testid="member-detail-view">
    <div class="w-50">

      <h1 class="mb-5">
        {{ m.firstName }} {{ m.lastName }}
      </h1>

      <div class="w-50 d-flex align-items-center justify-content-between mb-3 gap-3">
        <h2>
          {{ 'FORM.PERSONAL_DETAILS' | scopedTranslation }}
        </h2>

        <app-crud-button mode="edit"/>
      </div>

      <div class="d-flex justify-content-between flex-wrap mb-3">
        <span>
          <p class="mb-0">{{ 'ABBREVIATION' | scopedTranslation }}:</p>
          <p class="fw-bold">
            {{ m.abbreviation ? (m.abbreviation) : ('ATTRIBUTE_NULL' | scopedTranslation)}}
          </p>
        </span>

        <span>
          <p class="mb-0">{{ 'BIRTH_DATE' | scopedTranslation }}:</p>
          <p class="fw-bold">{{ m.birthDate | date: GLOBAL_DATE_FORMAT }}</p>
        </span>

        <span>
          <p class="mb-0">{{ 'DATE_OF_HIRE' | scopedTranslation }}:</p>
          <p class="fw-bold">
            {{ m.dateOfHire
            ? (m.dateOfHire | date: GLOBAL_DATE_FORMAT)
            : ('ATTRIBUTE_NULL' | scopedTranslation)
            }}
          </p>

        </span>

        <span>
          <p class="mb-0">{{ 'EMPLOYMENT_STATE' | scopedTranslation }}:</p>
          <p class="fw-bold">{{ 'EMPLOYMENT_STATUS_VALUES.' + m.employmentState | scopedTranslation }}</p>
        </span>

        <span>
          <p class="mb-0">{{ 'ORGANISATION_UNIT' | scopedTranslation }}:</p>
          <p class="fw-bold">
            @if (m.organisationUnit) {
              {{m.organisationUnit.name}}
            } @else {
              {{'ATTRIBUTE_NULL' | scopedTranslation}}
            }
          </p>
        </span>
      </div>
      <div class="d-flex justify-content-start gap-5">
        <span>
          <p class="mb-0">{{ 'BIRTH_DATE' | scopedTranslation }}:</p>
          <p class="fw-bold">{{ m.birthDate | date: GLOBAL_DATE_FORMAT }}</p>
        </span>
        <span>
          <p class="mb-0">{{ 'BIRTH_DATE' | scopedTranslation }}:</p>
          <p class="fw-bold">{{ m.birthDate | date: GLOBAL_DATE_FORMAT }}</p>
        </span>
      </div>
    </div>
    <mat-tab-group class="folder-tabs" mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms">
      <mat-tab label="CV">
        <app-generic-cv-content
          [data]="degreeData()"
          *appTranslationScope="'CV.DEGREE'"
          [columns]="degreeColumns"
        />

        <app-generic-cv-content
          [data]="experienceData()"
          *appTranslationScope="'CV.EXPERIENCE'"
          [columns]="experienceColumns"
        />

        <app-generic-cv-content
          [data]="certificateData()"
          *appTranslationScope="'CV.CERTIFICATE'"
          [columns]="certificateColumns"
        />

        <app-generic-cv-content
          [data]="leadershipExperienceData()"
          *appTranslationScope="'CV.LEADERSHIP_EXPERIENCE'"
          [columns]="leadershipExperienceColumns"
        />

      </mat-tab>
      <mat-tab label="Berechnungen">
                  <span>calculation content ...</span>
      </mat-tab>
    </mat-tab-group>
  </div>
}
