@if (member(); as m) {
  <div class="p-4">
    <div class="w-50">

      <h1 class="mb-5" data-testid="member-name">
        {{ m.firstName }} {{ m.lastName }}
      </h1>

      <div class="w-50 d-flex align-items-center justify-content-between mb-3 gap-3" data-testid="member-detail-title">
        <h2>
          {{ 'PERSONAL_DETAILS' | scopedTranslation }}
        </h2>

        <app-crud-button mode="edit"/>
      </div>

      <div class="d-flex justify-content-between flex-wrap mb-3" data-testid="member-detail-data">
        <span>
          <p class="mb-0">{{ 'ABBREVIATION' | scopedTranslation }}:</p>
          <p class="fw-bold">
            {{ m.abbreviation ? (m.abbreviation) : ('ATTRIBUTE_NULL' | scopedTranslation)}}
          </p>
        </span>

        <span>
          <p class="mb-0">{{ 'BIRTH_DATE' | scopedTranslation }}:</p>
          <p class="fw-bold">{{ m.birthDate | date }}</p>
        </span>

        <span>
          <p class="mb-0">{{ 'DATE_OF_HIRE' | scopedTranslation }}:</p>
          <p class="fw-bold">
            {{ m.dateOfHire
            ? (m.dateOfHire | date)
            : ('ATTRIBUTE_NULL' | scopedTranslation)
            }}
          </p>

        </span>

        <span>
          <p class="mb-0">{{ 'EMPLOYMENT_STATE' | scopedTranslation }}:</p>
          <p class="fw-bold" *appTranslationScope="'EMPLOYMENT_STATUS_VALUES'">{{ m.employmentState | scopedTranslation }}</p>
        </span>

        <span>
          <p class="mb-0">{{ 'ORGANISATION_UNIT' | scopedTranslation }}:</p>
          <p class="fw-bold">
            @if (m.organisationUnitName) {
              {{m.organisationUnitName}}
            } @else {
              {{'ATTRIBUTE_NULL' | scopedTranslation}}
            }
          </p>
        </span>
      </div>

      <div class="d-flex flex-row gap-2 mb-4">
        @for (rolePoint of rolePointList(); track rolePoint.role) {
          <div class="role-box d-flex flex-row justify-content-around p-2 gap-3" [attr.data-testid]=`role-points-${rolePoint.role.name}`>
            <span class="d-flex flex-column justify-content-center">
              <p class="mb-0">{{ 'ROLE.MODEL_NAME' | scopedTranslation }}:</p>
              <p class="fw-bold m-0">
                {{ rolePoint.role.name }}
              </p>
            </span>
            <span class="d-flex flex-column justify-content-center">
              <p class="mb-0">{{ 'CALCULATION.POINTS' | scopedTranslation }}:</p>
              <p class="fw-bold m-0">
                @if (rolePoint.points) {
                  {{ rolePoint.points.toFixed(2) }}
                } @else {
                  {{ 'ATTRIBUTE_NULL' | scopedTranslation }}
                }
              </p>
            </span>
          </div>
        }
      </div>
    </div>
    <mat-tab-group (selectedIndexChange)="onTabIndexChange($event)" class="folder-tabs"
                   mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0ms"
                   data-testid="cv-tab">
      <mat-tab *appTranslationScope="'CV'" label="CV">
        <app-generic-cv-content
          data-testid="cv-table-degree"
          idAttr="id"
          crudBasePath="degree"
          [data]="degreeData()"
          *appTranslationScope="'DEGREE'"
          [table]="degreeTable"
        />

        <app-generic-cv-content
          data-testid="cv-table-experience"
          idAttr="id"
          crudBasePath="experience"
          [data]="experienceData()"
          *appTranslationScope="'EXPERIENCE'"
          [table]="experienceTable"
        />

        <app-generic-cv-content
          data-testid="cv-table-certificate"
          idAttr="id"
          crudBasePath="certificate"
          [data]="certificateData()"
          *appTranslationScope="'CERTIFICATE'"
          [table]="certificateTable"
        >
          <app-crud-button crud-button mode="add" [customOnClick]="openCertificateDialog" data-testid="add-certificate-button"/>
        </app-generic-cv-content>

        <app-generic-cv-content
          data-testid="cv-table-leadership-experience"
          idAttr="id"
          crudBasePath="leadership-experience"
          [data]="leadershipExperienceData()"
          *appTranslationScope="'LEADERSHIP_EXPERIENCE'"
          [table]="leadershipExperienceTable"
        />
      </mat-tab>
      @for (rolePoints of rolePointList(); track rolePoints.role) {
        <mat-tab *appTranslationScope="'CALCULATION'" [label]='rolePoints.role.name'>
          <app-member-calculation-table data-testid="member-calculation-table" [roleId]="rolePoints.role.id" [memberId]="m.id"/>
        </mat-tab>
      }
    </mat-tab-group>
  </div>
}
