<div class="mt-5">
  <h1 class="pt-3">{{"MODEL_NAME_PLURAL" | scopedTranslation}}</h1>
  <app-generic-table [dataSource]="table" idAttr="id" crudBasePath="">
    <ng-template [appTypedTemplate]="table.data"/>

    <ng-template
      appColumnTemplate="tags"
      let-certificate
    >
      <app-certificate-type-tags [tags]="certificate.tags" />
    </ng-template>

    <ng-template
      [appExpandableRow]="table"
      let-certificate
    >
      <app-certificate-detail-view [certificate]="certificate" />
    </ng-template>
  </app-generic-table>
</div>


