/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mdc-line-ripple::before {
  display: none;
}
.mdc-line-ripple--active::after {
  display: none;
}
.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
  position: relative;
  z-index: 0;
}

.input {
  border: 1px solid gray;
  border-radius: 0.5rem;
  width: 100%;
  height: 3.5rem;
}

.mat-calendar {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.5rem;
}
