.badge-internship {
  background-color: lightgray;
}

.badge-work-experience {
  background-color: lightblue;
}

.badge-work-part-time {
  background-color: lightgreen;
}

.badge-default {
  background-color: white;
}
