<table
        mat-table
        [dataSource]="this.dataSource()"
        class="table table-striped table-hover member-table m-0"
        matSort
        [matSortActive]="this.columnNames()[0]"
        matSortDirection="asc"
        data-testid="member-table"
>

    @for (col of columns(); track col.columnName) {
        <ng-container [matColumnDef]="col.columnName">
            <th mat-header-cell *matHeaderCellDef [mat-sort-header]="col.columnName">
                {{getFieldI18nKey(col) | scopedTranslation}}
            </th>
            <td mat-cell *matCellDef="let entity" data-testid="member-name">
                {{getDisplayValue(col, entity)}}
            </td>
        </ng-container>
    }


    <tr class="h-25" mat-header-row *matHeaderRowDef="this.columnNames(); sticky: true"></tr>
    <tr
            mat-row
            *matRowDef="let row; columns: this.columnNames();"
            data-testid="member-row"
    ></tr>

    <tr *matNoDataRow data-testid="no-results-row">
        <td colspan="4">
            {{ 'TABLE.NO_SEARCH_RESULT' | scopedTranslation : {model: 'MODEL_NAME' | scopedTranslation ,searchValue: ''} }}
        </td>
    </tr>
</table>