:host {
  button.cancel-button {
    border: none;
    color: #1e5a96;

    &:hover {
      background-color: #fafafa;
    }

    &:active {
      background-color: #dee2e6;
    }
  }

  button.submit-button {
    &:hover {
      background-color: #1e5a96e5;
    }

    &:active {
      background-color: #1e5a96;
    }
  }
}
