:host {
  button.cancel-button {
    border: none;
    color: #1E5A96;

    &:hover {
      background-color: #FAFAFA;
    }

    &:active {
      background-color: #DEE2E6;
    }
  }

  button.submit-button {
    &:hover {
      background-color: #1E5A96E5;
    }

    &:active {
      background-color: #1E5A96
    }
  }
}
