<h1>
  {{ i18nPrefix() + '.TITLE' | translate }}
  @if (isEdit()) {
    {{ "GENERAL.EDIT" | translate }}
  } @else {
    {{ "GENERAL.ADD" | translate }}
  }
</h1>

<form [formGroup]="formGroup()" (ngSubmit)="submitted" name="{{formName()}}">
  <ng-content></ng-content>

  <div class="d-flex flex-row gap-3">
    <button mat-stroked-button type="button" (click)="canceled">{{ "GENERAL.CANCEL" | translate }}</button>
    <button mat-flat-button color="primary" type="submit" data-testid="submit-button" [disabled]="!formGroup().valid">
      @if (isEdit()) {
        {{ "GENERAL.SAVE" | translate }}
      } @else {
        {{ "GENERAL.ADD" | translate }}
      }
    </button>
  </div>
</form>

