<div class="d-flex p-3" mat-dialog-title>
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between flex-row">
        <h3 data-testid="modal-title" class="mb-0">
          {{ "MODEL_NAME" | scopedTranslation  }}
          {{ "ACTION" | scopedTranslation }}
        </h3>
      <button
        type="reset"
        (click)="canceled.emit()"
        mat-icon-button
        data-testId="close-modal-icon-button"
        class=""
      >
        <mat-icon class="text-secondary">close</mat-icon>
      </button>
    </div>
  </div>
</div>

<mat-divider class="mx-4"/>

<mat-dialog-content class="text-black">
  <div class="container-fluid">
    <ng-content select="[content]"/>
  </div>
</mat-dialog-content>

<mat-divider class="mx-4"/>

<mat-dialog-actions align="end">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <ng-content select="[actions]">
        <app-form-actions [formGroup]="formGroup()" (canceled)="canceled.emit()" />
      </ng-content>
    </div>
  </div>
</mat-dialog-actions>

