<div class="d-flex p-3" mat-dialog-title>
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between flex-row">
      <ng-container>
        <h3 data-testid="title">
          {{ "MODEL_NAME" | scopedTranslation  }}
          {{ "ACTION" | scopedTranslation }}
        </h3>
      </ng-container>
      <button
        type="reset"
        [mat-dialog-close]="true"
        mat-icon-button
        [attr.data-testId]="'close-dialog'"
        class=""
      >
        <mat-icon class="text-secondary">close</mat-icon>
      </button>
    </div>
  </div>
</div>

<mat-divider class="mx-4"/>

<mat-dialog-content class="text-black">
  <div class="container-fluid">
    <ng-content select="[content]"/>
  </div>
</mat-dialog-content>

<mat-divider/>

<mat-dialog-actions align="end">
  <div class="container-fluid">
    <div class="row justify-content-between">
      <ng-content select="[actions]">
        <app-form-actions [formGroup]="formGroup()" (canceled)="canceled.emit()" />
      </ng-content>
    </div>
  </div>
</mat-dialog-actions>

