<div class="d-flex flex-row gap-3">
  <button
    data-testid="close-modal-button"
    matButton="text"
    type="button"
    (click)="onCancel()"
  >
    {{ cancelKey | scopedTranslation }}
  </button>

  <div class="d-flex">
    <button
      [disabled]="!isValid"
      (click)="onSubmit(ModalSubmitMode.SAVE)"
      class="rounded-end-0"
      matButton="filled"
      type="submit"
      data-testid="submit-button"
    >
      {{ submitKey | scopedTranslation }}
    </button>

    <app-menu-button
      [isValid]="isValid"
      [functions]="[ModalSubmitMode.ENTER_ANOTHER, ModalSubmitMode.COPY]"
      (selected)="onSubmit($event)" />
  </div>

  <div class="d-flex flex-row gap-3">
    <link rel="stylesheet" href="">
    <button
      type="button"
      matButton="text"
      style="color: red"
      (click)="onDelete(ModalSubmitMode.DELETE)"
    >
      {{ deleteKey | scopedTranslation }}
      <i class="material-icons">trash</i>
    </button>
  </div>
</div>
