---
name: "On-Push-Main"
on:
  push:
    branches:
      - main
      - fix/409-deploy-pipeline
  workflow_dispatch:
permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write
  pull-requests: write
  pages: write
jobs:

  build-and-push:
    strategy:
      matrix:
        service: ["backend", "frontend"]
    uses: ./.github/workflows/reusable__upload-to-ghcr.yaml
    with:
      dockerfile: ${{ matrix.service }}/Dockerfile
      image_name: ${{ matrix.service }}
      version: ${{ needs.release-please.outputs.version }}
    secrets: inherit

  documentation:
    uses: ./.github/workflows/reusable__documentation.yaml
    with:
      COMMIT_HASH: ${{ github.sha }}
