---
name: "On-Push-Main"
on:
  push:
    branches:
      - main
      - fix/409-deploy-pipeline
  workflow_dispatch:
permissions:
  contents: read
  packages: write
  attestations: write
  id-token: write
  pull-requests: write
  pages: write
jobs:

  release-please:
    runs-on: ubuntu-latest
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      version: ${{ steps.release.outputs.version }}
    steps:
      - id: release
        uses: googleapis/release-please-action@v4
        with:
          token: ${{ secrets.RELEASE_PLEASE_GH_TOKEN }}
          config-file: .github/release-please-config.json
          manifest-file: .github/.release-please-manifest.json

  build-and-push:
    needs: release-please
    strategy:
      fail-fast: false
      matrix:
        include:
          - service: backend
            dockerfile: backend/Dockerfile
            context: .
            image_name: backend
          - service: frontend
            dockerfile: frontend/Dockerfile
            context: .
            image_name: frontend
    uses: ./.github/workflows/reusable__upload-to-ghcr.yaml
    with:
      dockerfile: ${{ matrix.dockerfile }}
      image_name: ${{ matrix.image_name }}
      version: ${{ needs.release-please.outputs.version }}
    secrets: inherit
