---
name: Upload image to GHRC

on:
  workflow_call:
    inputs:
      context:
        description: "Path to the workdir from the Root"
        required: true
        type: string
      image_name:
        description: "Name for the image. PCTS is the prefix"
        required: true
        type: string

env:
  REGISTRY: ghcr.io
  COMMIT_HASH: ${{ github.sha }}

jobs:
  upload-to-ghrc:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Verify branch
        run: |
          echo "Current ref: ${GITHUB_REF}"
          echo "Current ref name: ${GITHUB_REF_NAME}"
          if [[ "${GITHUB_REF_NAME}" != "bug/203-fix-ghcr-deploy-workflow" ]]; then
            echo "❌ Not on bug/203-fix-ghcr-deploy-workflow branch – aborting upload."
            exit 1
          fi

      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository }}/pcts-${{ inputs.image_name }}
          tags: |
            type=sha,format=long,prefix=
            type=raw,value=latest

      - name: Build and push Docker image
        id: push
        uses: docker/build-push-action@v6
        with:
          context: ${{ inputs.context }}
          file: ./${{ inputs.context }}/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
